.chat__settings {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  padding: var(--dvgups-padding-y) var(--dvgups-padding-x);
  background-color: var(--dvgups-slate-100);
  border-radius: var(--dvgups-bordero-radius);
}
