.no-scroll::after {
  opacity: 0.4;
  visibility: visible;
}

body::after {
  content: "";
  background: black;
  position: absolute;
  inset: 0;
  z-index: 9;
  opacity: 0;
  transition: all var(--dvgups-transition-fn) var(--dvgups-transition-time);
  visibility: hidden;
}
