.mobile-nav__user-info {
  width: 100%;
  justify-content: space-between;
  padding: var(--dvgups-padding-y) 0;
  margin-top: var(--dvgups-margin-y);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
