<div class="modal fade" id="blockUserModal" tabindex="-1" aria-labelledby="blockUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blockUserModalLabel">Вы собираетесь заблокировать пользователя</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: center">Вы уверены, что хотите <b>ЗАБЛОКИРОВАТЬ</b> пользователя?</p>
      </div>
      <div class="modal-footer">
        <button
          class="button button--outline ripple"
          type="button"
          id="btn-block-user"
          style="color: #db4e66 !important; border-color: #db4e66 !important"
        >
          Заблокировать
          <div class="ripple__container"></div>
        </button>
        <button class="button ripple" type="button" data-mdb-dismiss="modal">
          Отмена
          <div class="ripple__container"></div>
        </button>
      </div>
    </div>
  </div>
</div>
