<div class="modal fade" id="permissionModal" tabindex="-1" aria-labelledby="permissionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="permissionModalLabel">Нет доступа к медиа девайсам</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: center">
          Видимо, вы не дали разрешение браузеру использовать вашу камеру или микрофон в данном приложении. Пожалуйста, проверьте данную
          настройку.
        </p>
      </div>
      <div class="modal-footer">
        <button class="button button--outline ripple" type="button" id="btn-permissionModal-cancel">
          Понятно
          <div class="ripple__container"></div>
        </button>
      </div>
    </div>
  </div>
</div>
