<div class="modal fade" id="screenModal" tabindex="-1" aria-labelledby="screenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="screenModalLabel">Ошибка демонстрации экрана</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="text-align: center">Показ экрана не доступен в данном браузере</p>
      </div>
      <div class="modal-footer">
        <button class="button button--outline ripple" type="button" id="btn-screenModal-cancel">
          Понятно
          <div class="ripple__container"></div>
        </button>
      </div>
    </div>
  </div>
</div>
