.switch {
  --switch-width: 4.2rem;
  --switch-height: 2rem;
  --switch-gap: 0.4rem;
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--switch-height) - var(--switch-gap) * 2);
  width: calc(var(--switch-height) - var(--switch-gap) * 2);
  left: var(--switch-gap);
  bottom: var(--switch-gap);
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  --switch-transform: calc(var(--switch-width) - var(--switch-height));
  transform: translateX(var(--switch-transform));
}

input:disabled + .slider {
  opacity: 0.6;
  cursor: default !important;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
