@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-row {
  @include flex-center;
  flex-direction: row;
}

@mixin transform-center {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
