@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-row {
  @include flex-center;
  flex-direction: row;
}

@mixin transform-center {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

$breakpoints: (
  mobile: 560px,
  tablet: 768px,
  laptop: 992px,
);

@mixin mobile {
  @media (max-width: calc(map-get($breakpoints, mobile) - 0.02px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: calc(map-get($breakpoints, tablet) - 0.02px)) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: calc(map-get($breakpoints, laptop) - 0.02px)) {
    @content;
  }
}
