.meeting__options {
  flex: 1 0 50%;
  background-color: var(--dvgups-white);
  border: 1px solid var(--dvgups-slate-200);
  border-right: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  @include flex-center;
}
