.meeting__options {
  flex: 1 0 50%;
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
  border-right: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  @include flex-center;
  transition: background-color var(--dvgups-transition-fn) var(--dvgups-transition-time),
    border-color var(--dvgups-transition-fn) var(--dvgups-transition-time);
}
