.profile {
  position: relative;
  border: 1px solid var(--dvgups-slate-300);
  border-radius: var(--dvgups-bordero-radius);
  background-color: var(--dvgups-slate-200);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
