.controls {
  padding: 0 calc(var(--dvgups-padding-x) * 3);
  display: flex;
  height: 8rem;

  transition: background-color var(--dvgups-transition-fn) var(--dvgups-transition-time),
    border-color var(--dvgups-transition-fn) var(--dvgups-transition-time);
}
