.videos-container {
  padding: 0 calc(var(--dvgups-padding-x) * 1.5);
  align-self: stretch;
  @include flex-center-row;
  gap: var(--dvgups-gap);
  flex-wrap: wrap;

  & video {
    width: 40rem !important;
    height: fit-content !important;
    border-radius: var(--dvgups-bordero-radius);
  }
}
