.clipboard__title {
  font-size: 1.6rem;
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: calc(var(--dvgups-margin-y) / 2);
  transition: color var(--dvgups-transition-fn) var(--dvgups-transition-time);
}
