.clipboard__body {
  background-color: var(--input-color);
  color: var(--text-small);
  height: 12rem;
  width: 100%;
  border-radius: var(--dvgups-bordero-radius);
  border: 1px solid var(--border-color);
  padding: var(--dvgups-padding-y) var(--dvgups-padding-x);
  transition: background-color var(--dvgups-transition-fn) var(--dvgups-transition-time),
    border-color var(--dvgups-transition-fn) var(--dvgups-transition-time),
    color var(--dvgups-transition-fn) var(--dvgups-transition-time);
}
