<div class="container main__container" style="overflow: hidden; position: relative">
  <div style="position: absolute; inset: 0; opacity: 0.1">
    <svg width="100%" height="100%" viewBox="0 0 96 56" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.95493 34.0031H71.8668C72.2193 34.8232 72.5719 35.6469 72.9245 36.467C49.6241 36.467 26.319 36.467 3.00914 36.467C2.66009 35.6469 2.31455 34.8232 1.95493 34.0031Z"
        fill="#1f9c60"
      ></path>
      <path
        d="M85.4164 30.5865C86.3014 33.6843 86.4741 36.9971 85.5186 40.1021C82.3137 36.5207 79.1512 32.9179 75.9674 29.3223C82.4442 29.4369 88.9175 29.3796 95.3942 29.3223C95.4507 27.3203 95.4859 25.3005 95.0417 23.3379C71.5814 23.3379 48.1212 23.3379 24.6609 23.3379C25.1193 22.8031 25.58 22.2707 26.043 21.7406C48.9015 21.7406 71.7577 21.7406 94.6115 21.7406C93.8367 19.9652 92.892 18.2715 91.7909 16.6838C69.151 16.7005 46.5134 16.7197 23.8782 16.7411C20.3525 20.215 16.8726 23.7319 13.3504 27.2057C11.8449 23.9145 10.9105 20.1935 11.6756 16.5728C12.4619 12.3039 15.494 8.77271 19.1749 6.72778C25.7927 2.91726 33.6938 2.27263 41.1402 2.86355C52.5283 3.93794 63.7049 8.01704 72.9635 14.886C73.5981 15.4554 74.4267 15.5593 75.2447 15.5092C80.4522 15.4841 85.6526 15.5092 90.8531 15.5092C89.1872 13.5862 87.3179 11.8555 85.2789 10.3485C76.4963 4.00955 65.7604 1.03706 55.1374 0.0736876C50.2719 0.00922393 45.3993 -0.0767154 40.5408 0.131001C29.3572 1.24837 17.9479 4.54317 9.10184 11.8455C3.95074 16.0535 0.0935936 22.4175 0.534311 29.3295C24.9183 29.3295 49.3058 29.3295 73.6969 29.3295C77.3613 33.1973 81.0198 37.0651 84.6725 40.9329C58.4904 40.9114 32.3071 40.8852 6.12259 40.8541C15.3847 50.4592 28.8213 54.4631 41.6761 55.7416C55.0069 56.7731 68.8948 54.7998 80.7695 48.3104C87.5495 44.55 93.9945 38.6409 95.5 30.6044C92.1188 30.5865 88.7729 30.5972 85.4164 30.5865ZM65.838 52.0171C52.6623 53.1882 39.2857 49.3991 28.0597 42.4442C46.8637 42.4036 65.6676 42.3738 84.4715 42.3547C80.5297 48.7473 72.8648 51.2901 65.838 52.0171Z"
        fill="#1f9c60"
      ></path>
    </svg>
  </div>
  <div class="not-found">
    <h1 class="not-found__title">404</h1>
    <p class="not-found__text">Похоже, такой страницы нет, вернуться на главную страницу?</p>
    <button
      class="button form__button ripple"
      id="button-login"
      data-ripple-color="light"
      role="button"
      onclick="window.location.replace('/')"
    >
      На главную страницу
      <div class="ripple__container"></div>
    </button>
  </div>
</div>
