<section class="create-conf">
  <div class="container main__container">
    <form class="form create-conf__form" method="POST">
      <div class="form__header">
        <h1 class="form__title">Создание конференции</h1>
        <p class="form__desc">Введите данные для создания конференции</p>
      </div>
      <div class="form__body">
        <div class="form__item">
          <label class="label label--full-width">
            Название конференции
            <input class="input form__input" type="text" name="conf-name" />
          </label>
        </div>
        <div class="form__item">
          <label class="label custom-checkbox">
            <input class="checkbox" type="checkbox" name="lecture" />
            <div class="custom-checkbox__checkmark"></div>
            Лекция
          </label>
          <small class="small form__explanation">(Запретить включать камеры без разрешения)</small>
        </div>
        <div class="form__item">
          <button class="button form__button ripple" data-ripple-color="light" role="button">
            Создать
            <div class="ripple__container"></div>
          </button>
        </div>
      </div>
      <div class="form__footer">
        <div class="clipboard">
          <h4 class="clipboard__title">Данные для присоединения</h4>
          <div class="clipboard__body">
            Здесь появятся данные для быстрого подключения к конференции
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
