<div class="container main__container">
  <div class="help">
    <h1 class="help__header">Помощь</h1>
    <section class="help__section">
      <h2 class="help__title">Как дать разрешение на использование видеокамеры?</h2>
      <h3 class="help__sub-title">Google Chrome</h3>
      <ol class="help__list">
        <li class="help__list-item">Перейдите на сайт видеотрансляции.</li>
        <li>Нажмите на значок <img class="icon" src="img/lock.png" alt="lock" /> в адресной строке.</li>
        <li>Перейдите в «Настройки сайтов».</li>
        <li>Разрешите доступы для камеры и микрофона.</li>
      </ol>
      <div style="width: 100%; text-align: center">
        <img class="help__img" src="img/example-google.png" alt="example" />
      </div>
      <h3 class="help__sub-title">Mozilla Firefox</h3>
      <ol class="help__list">
        <li class="help__list-item">Перейдите на сайт видеотрансляции.</li>
        <li>Нажмите на значок <img class="icon" src="img/lock.png" alt="lock" /> в адресной строке.</li>
        <li>Нажмите <b>></b> напротив надписи «Безопасное соединение».</li>
        <li>Нажмите «Подробнее».</li>
        <li>Перейдите во вкладку «Разрешения».</li>
        <li>Нажмите «Разрешить» для камеру и микрофона.</li>
      </ol>
      <div style="width: 100%; text-align: center">
        <img class="help__img" src="img/example-mozila.png" alt="example" />
      </div>
      <h3 class="help__sub-title">Safari</h3>
      <ol class="help__list">
        <li class="help__list-item">Перейдите на сайт видеотрансляции</li>
        <li>Нажмите на значок <img class="icon" src="img/lock.png" alt="lock" /> в адресной строке.</li>
        <li>Перейдите в «Настройки сайтов».</li>
        <li>Разрешите доступы для камеры и микрофона.</li>
      </ol>
      <div style="width: 100%; text-align: center">
        <img class="help__img" src="img/example-safari.png" alt="example" />
      </div>
    </section>
    <section>
      <h2 class="help__title">Что делать если плохой интернет?</h2>
      <p class="help__text">
        К сожалени, если уровень вашего сигнала меньше 2G, то присоединиться или создать видеотрансляцию не получится.
      </p>
    </section>
    <section>
      <h2 class="help__title">Могу ли я подключиться к трансляции с телефона?</h2>
      <p class="help__text">Да, подключиться к видеотрансляции с телефона получиться, но создать - нет.</p>
    </section>
  </div>
</div>
