<section class="meeting">
  <div class="container main__container">
    <div class="meeting__board">
      <div class="meeting__options">
        <div class="options">
          <a
            class="option meeting__option ripple"
            href="/conf/create-conf"
            role="button"
            data-action="create-conf"
            data-ripple-value="true"
          >
            <div class="option__img-wrapper img-wrapepr img-wrapper--theme--green">
              <img class="img" src="img/video-camera.png" alt="Камера" />
            </div>
            <p class="option__desc">Создать</p>
            <div class="ripple__container"></div>
          </a>
          <a
            class="option meeting__option ripple"
            href="/conf/join-conf"
            role="button"
            data-ripple-value="true"
          >
            <div class="option__img-wrapper img-wrapper img-wrapper--theme--dark-green">
              <img class="img" src="img/add.png" alt="Камера" />
            </div>
            <p class="option__desc">Подключиться</p>
            <div class="ripple__container"></div>
          </a>
          <a
            class="option meeting__option ripple"
            href="/conf/public-rooms"
            role="button"
            data-ripple-value="true"
          >
            <div class="option__img-wrapper img-wrapper img-wrapper--theme--dark-green">
              <img class="img" src="img/calendar.png" alt="Календарь" />
            </div>
            <p class="option__desc">Конференции</p>
            <div class="ripple__container"></div>
          </a>
          <a
            class="option meeting__option ripple"
            href="#"
            role="button"
            data-ripple-value="true"
            data-action="help"
          >
            <div class="option__img-wrapper img-wrapper img-wrapper--theme--red">
              <img class="img" src="img/question.png" alt="Вопрос" />
            </div>
            <p class="option__desc">Помощь</p>
            <div class="ripple__container"></div>
          </a>
        </div>
      </div>
      <div class="meeting__banner">
        <div class="img-wrapper">
          <img class="img" src="img/logo.svg" alt="dvgups logo" />
        </div>
        <h1 class="meeting__title">Дальневосточный Государственный Университет Путей Сообщения</h1>
      </div>
    </div>
  </div>
</section>
