<section class="public-rooms">
  <div class="container main__container">
    <div class="table">
      <div class="table__inner">
        <table class="table__core">
          <thead class="table__head">
            <tr class="table__head-tr table__tr">
              <th class="table__cell">№</th>
              <th class="table__cell">Название комнаты</th>
              <th class="table__cell">Кол-во участников</th>
              <th class="table__cell">Присоединиться</th>
            </tr>
          </thead>
          <tbody class="table__body">
            <tr class="table__tr">
              <td class="table__cell" colspan="4" style="text-align: center">
                Нет активных конференций
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
