<section class="room">
  <div class="button-container">
    <button class="button button-close ripple">
      Покинуть
      <div class="ripple__container"></div>
    </button>
    <button class="button button-toggle-micro ripple">
      Включить микрофон
      <div class="ripple__container"></div>
    </button>
    <button class="button button-toggle-camera ripple">
      Включить камеру
      <div class="ripple__container"></div>
    </button>
    <button class="button button-toggle-camera ripple">
      Отправить
      <div class="ripple__container"></div>
    </button>
    <input class="imput imput-chat" type="text" />
  </div>
  <div class="videos-container"></div>
  <div class="chat-container"></div>
</section>
