.meta-inf__item {
  &:not(:last-child) {
    border-right: 1px solid var(--border-color);
    padding-right: calc(var(--dvgups-padding-x) * 1.5);
  }

  &:not(:first-child) {
    padding-left: calc(var(--dvgups-padding-x) * 1.5);
  }

  transition: color var(--dvgups-transition-fn) var(--dvgups-transition-time),
    border-color var(--dvgups-transition-fn) var(--dvgups-transition-time);
}
