.header {
  background-color: var(--card-color);
  height: 8rem;
  @include flex-center;
  border-bottom: 1px solid var(--border-color);
  transition: background-color var(--dvgups-transition-fn) var(--dvgups-transition-time),
    border-color var(--dvgups-transition-fn) var(--dvgups-transition-time);
}
