.custom-checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.4rem;
  width: 2.4rem;
  background-color: var(--input-color);
  border-radius: var(--dvgups-bordero-radius);
  transition: background-color var(--dvgups-transition-fn) var(--dvgups-transition-time),
    border-color var(--dvgups-transition-fn) var(--dvgups-transition-time);
  overflow: hidden;
  border: 1px solid var(--border-color);

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}
