<aside class="chat room__chat">
  <h2 class="chat__title">Чат</h2>
  <div class="messages-container chat__messages-container"></div>
  <form class="form chat__form">
    <h3 class="form__title">Введите сообщение</h3>
    <textarea
      class="input textarea chat__input"
      type="text"
      placeholder="Ваще сообщение..."
    ></textarea>
    <button class="button form__button chat__button">Отправить</button>
  </form>
</aside>
