<footer class="footer">
  <div class="container footer__container">
    <div class="swiper footer-contacts footer-contacts__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <li class="list__item">
            <a
              class="list__link footer-contacts__link ripple"
              href="mailto:ckst2@festu.khv.ru"
              role="button"
              data-ripple-value="true"
              ><img class="icon list__icon" src="img/headphones.svg" alt="phone" />Тех.поддержка:
              ckst2@festu.khv.ru (тел: 407-187)
              <div class="ripple__container"></div
            ></a>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="list__item">
            <a
              class="list__link footer-contacts__link ripple"
              href="#"
              role="button"
              data-ripple-value="true"
              ><img class="icon list__icon" src="img/headphones.svg" alt="phone" />Адрес:
              г.Хабаровск, ул. Серышева, Дом 47
              <div class="ripple__container"></div
            ></a>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="list__item footer-contacts__item">
            <a
              class="list__link footer-contacts__link ripple"
              href="mailto:support@festu.khv.ru"
              role="button"
              data-ripple-value="true"
              ><img
                class="icon list__icon"
                src="img/headphones.svg"
                alt="phone"
              />support@festu.khv.ru
              <div class="ripple__container"></div>
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
</footer>
