<header class="header">
  <div class="container header__container">
    <div class="img-wrapper header__nav-img" href="/">
      <img class="img" src="img/logomain-green.svg" alt="logo" />
    </div>
    <nav class="nav header-nav">
      <ul class="list header-nav__list">
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button" data-ripple-value="true"
            >Главная
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button" data-ripple-value="true"
            >Библиотека
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button" data-ripple-value="true"
            >Ресурсы
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link header-nav__link--active ripple" data-ripple-value="true" href="/#" role="button"
            >Трансляции
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button" data-ripple-value="true"
            >Деканат
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button" data-ripple-value="true"
            >Еще...
            <div class="ripple__container"></div
          ></a>
        </li>
      </ul>
    </nav>
    <div class="user-info header__user-info">
      <a class="user-info__notify user-info__item ripple" href="#" role="button" data-ripple-value="true">
        <img class="icon" src="img/bell.svg" alt="bell" />
        <div class="ripple__container"></div>
      </a>
      <a class="img-wrapper user-info__img-wrapper" href="https://lk.dvgups.ru/profile" role="button">
        <img class="img" src="public/img/user.jpg" alt="user" />
      </a>
      <!-- <%- include('./theme-switcher') %> -->
      <a class="user-info__exit user-info__item ripple" href="#" role="button" data-ripple-value="true">
        <img class="icon" src="public/img/log-out.svg" alt="exit" />
        <div class="ripple__container"></div>
      </a>
    </div>
    <button class="button mobile-nav-btn ripple" data-ripple-color="light" role="button">
      <div class="nav-icon"></div>
      <div class="ripple__container"></div>
    </button>
  </div>
  <%- include('./mobile-nav') %>
</header>
