<header class="header">
  <div class="container header__container">
    <nav class="nav header-nav">
      <ul class="list header-nav__list">
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button"
            >Главная
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button"
            >Библиотека
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button"
            >Ресурсы
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button"
            >Личный кабинет
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button"
            >Деканат
            <div class="ripple__container"></div
          ></a>
        </li>
        <li class="list__item">
          <a class="list__link header-nav__link ripple" href="#" role="button"
            >Электронное портфолио обучающегося
            <div class="ripple__container"></div
          ></a>
        </li>
      </ul>
    </nav>
    <div class="user-info header__user-info">
      <a class="user-info__notify ripple" href="#" role="button">
        <img class="icon" src="img/bell.svg" alt="bell" />
        <div class="ripple__container"></div>
      </a>
      <div class="img-wrapper">
        <img class="img" src="" alt="user" />
      </div>
      <a class="user-info__exit ripple" href="#" role="button">
        <img class="icon" src="img/log-out.svg" alt="exit" />
        <div class="ripple__container"></div>
      </a>
    </div>
  </div>
</header>
