<div class="profile">
  <div class="profile__meta">
    <div class="profile__name">Иван Иванович Иванов</div>
    <div class="profile__group">БО241ПИН</div>
  </div>
  <div class="profile__streams">
    <img class="profile__audio-stream icon" src="img/micro-off.svg" alt="microphone" />
  </div>
</div>
