<div
  class="theme-switcher ripple"
  aria-label="Выбор темы сайта"
  role="switch"
  data-ripple-value="true"
  aria-pressed="true"
>
  <input class="checkbox" type="checkbox" name="theme-switcher" />
  <div class="ripple__container"></div>
</div>
