.help__img {
  max-width: 60rem;
  width: 100%;
  margin: calc(var(--dvgups-margin-y) * 2) 0;
  border-radius: var(--dvgups-bordero-radius);
  box-shadow: 0 5px 1.5rem 2px rgba($color: #0f1218, $alpha: 0.1);
}
