.help {
  width: 100%;
  background-color: var(--card-color);
  border-radius: var(--dvgups-bordero-radius);
  border: 1px solid var(--border-color);
  padding: var(--dvgups-padding-y) var(--dvgups-padding-x);
}
