.loader__inner {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 0.6rem solid var(--primary-color);
  border-top: 0.6rem solid transparent;
  animation: rotation 1s linear infinite;
  display: inline-block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
