.form__title {
  white-space: nowrap;
  font-size: 2.4rem;
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: var(--dvgups-margin-y);
  transition: color var(--dvgups-transition-fn) var(--dvgups-transition-time);
}
